<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Hop-top</title>

  </head>
  <body>
    <script src="javascript/phaser.js" type="text/javascript"></script>
      <script src="javascript/game2.js" type="text/javascript"></script>
  </body>
</html>
